body{
    padding: 0;
    margin: 0;
    background-image:url(/img/background.svg);
    background-size: cover;
}
.main-body{
    margin: 10px auto;
    height: 100vh;
    width: 1100px;
    display: flex;
    justify-content: center;

}
.publicacion{
    margin: 10px;
    padding: 5px;
    width: 1000px;
    height: auto;
    border-radius: 10px;
    background-color: lightgray;
}
#imgavatar{
    margin-left: 20px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    vertical-align: middle;
}
#username{
    margin-left: 30px;
    text-transform: uppercase;
}
#dataHora{
    padding-right: 40px;
    float: right;
}

.publicacion-head{
    margin: 10px;
    padding: 5px;
    height: 350px;
    border-radius: 10px;
    background-color: lightgray;
}

.form-publicacion{
    padding: 10px;
    padding-top:20px ;
    margin-top: 10px;
    display: flex;;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    background-color: antiquewhite;

}

.form-publicacion input,textarea{
    border-radius: 10px;
    padding: 10px;
}
.form-publicacion input{
    width: 50%;
}

#file-input{
    display: none;
}
.botones{
    display: block;
}
#publicar{
    float: right;
    margin-right: 30px;
    width:100px ;
    height: 30px;
    
}
#publicar{
   justify-content: flex-end;
}

.fechahora{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: baseline;
}
.fechahora input{
    width: 100px;
    height: 5px;
}
.likes{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 5px;
    
}
.likes>a:hover{
    background-color:gainsboro;
    border-radius: 20px;
}