

.form-body{
    background: #fff;
    margin: 10px;
    padding: 10px;
    margin-bottom: 0;
}
.form-body fieldset{
    display: inline-block;
    border-radius: 10px;
    padding: 20px;
}
.form-body button{
    margin-left: 10px;
}
.lista-users{
    background: #fff;
    margin: 10px;
    padding: 10px;
    margin-bottom: 0;
}
.lista-users table{
    border-radius: 10px;
}
.lista-users table,td,th{
    padding: 10px;
    border: 1px solid gray;
}